/*body{
	background-color: lightgrey;
}


/* css do componente logo

#logo{
	position: absolute;
	left: 2%;
	top: 2%;
}

/* componente formlogin  


#form-login {	
	position: absolute;
	top: 25%;
	left:  35%;
	width: 350px;
	height: 350px;
	box-shadow: 0px 0px 50px rgba(0,0,0,.5);
	padding-top: 45px;
	padding-left: 10px;

}


.form{
	width: 300px;
	text-align: left;
}

#btn-login{
	margin:10px 0 0 110px;
}


#cad-link{
	position: absolute;
	top:85%;
	left: 28%;

}

#cad-link a{
	color: black;
	text-decoration: none;
}

#cad-link a:hover{
	color:blue;
}

/* componente formcad 

#form-cad{
	position: absolute;
	top: 19%;
	left:  35%;
	width: 350px;
	height: 500px;
	box-shadow: 0px 0px 50px rgba(0,0,0,.5);
	padding-top: 45px;
	padding-left: 10px;
}

#btn-register{
	margin:10px 0 0 110px;
}

#login-link{
	position: absolute;
	top:90%;
	left: 10%;
} */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
